schema/Schemas/DmfA/DmfAConsultationRequest_20224.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="AnomalySubmission">
		<xs:annotation>
			<xs:documentation>00852</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="1"/>
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="AttestationStatus">
		<xs:annotation>
			<xs:documentation>00110</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="1"/>
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="CompanyID">
		<xs:annotation>
			<xs:documentation>00014</xs:documentation>
			<xs:appinfo source="ConversionID">CompanyID_conversion1</xs:appinfo>
			<xs:appinfo source="TDOType">xs:companyId</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="1999999943"/>
				<xs:totalDigits value="10"/>
				<xs:pattern value="0|\d{9}|\d{10}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="ContributionUnrelatedToNPId" type="ContributionUnrelatedToNPIdType">
		<xs:annotation>
			<xs:documentation>90199</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="DmfAConsultationRequest">
		<xs:annotation>
			<xs:documentation>90200</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Form" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="EmployerDeclarationId">
		<xs:annotation>
			<xs:documentation>90198</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="EmployerDeclarationIdType">
					<xs:choice minOccurs="0">
						<xs:sequence>
							<xs:element ref="NaturalPerson" maxOccurs="unbounded"/>
							<xs:element ref="ContributionUnrelatedToNPId" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:element ref="ContributionUnrelatedToNPId" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="Form">
		<xs:annotation>
			<xs:documentation>90059</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormType">
					<xs:sequence>
						<xs:element ref="Reference" minOccurs="0"/>
						<xs:element ref="EmployerDeclarationId"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="FormCreationDate">
		<xs:annotation>
			<xs:documentation>00218</xs:documentation>
			<xs:appinfo source="ConversionID">Date_conversion1</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:pattern value="\d{4}-\d{2}-\d{2}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="FormCreationHour">
		<xs:annotation>
			<xs:documentation>00299</xs:documentation>
			<xs:appinfo source="ConversionID">Time_conversion1</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:time">
				<xs:pattern value="\d{2}:\d{2}:\d{2}.\d{3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>


	<xs:element name="Identification">
		<xs:annotation>
			<xs:documentation>00296</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="7"/>
				<xs:enumeration value="DMFAREQ"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="INSS">
		<xs:annotation>
			<xs:documentation>00024</xs:documentation>
			<xs:appinfo source="ConversionID">Inss_conversion1</xs:appinfo>
			<xs:appinfo source="TDOType">xs:inss</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="11"/>
				<xs:pattern value="\d{11}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Nationality">
		<xs:annotation>
			<xs:documentation>00119</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="99999"/>
				<xs:totalDigits value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="NaturalPerson" type="NaturalPersonType">
		<xs:annotation>
			<xs:documentation>90017</xs:documentation>
		</xs:annotation>
	</xs:element>


	<xs:element name="NaturalPersonSequenceNbr">
		<xs:annotation>
			<xs:documentation>00023</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="9999999"/>
				<xs:totalDigits value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="NaturalPersonUserReference">
		<xs:annotation>
			<xs:documentation>00615</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="NOSSLPARegistrationNbr">
		<xs:annotation>
			<xs:documentation>00109</xs:documentation>
			<xs:appinfo source="ConversionID">NossAPL_conversion1</xs:appinfo>
			<xs:appinfo source="TDOType">xs:nossLpaRegistrationNbr</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="99999926"/>
				<xs:totalDigits value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="NOSSRegistrationNbr">
		<xs:annotation>
			<xs:documentation>00011</xs:documentation>
			<xs:appinfo source="ConversionID">Noss_conversion1</xs:appinfo>
			<xs:appinfo source="TDOType">xs:nossRegistrationNbr</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="199999934"/>
				<xs:totalDigits value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Quarter">
		<xs:annotation>
			<xs:documentation>00013</xs:documentation>
			<xs:appinfo source="TDOType">xs:yearQuarter</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="20031"/>
				<xs:totalDigits value="5"/>
				<xs:pattern value="\d{4}(1|2|3|4)"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Reference" type="ReferenceType">
		<xs:annotation>
			<xs:documentation>90082</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="ReferenceNbr">
		<xs:annotation>
			<xs:documentation>00222</xs:documentation>
			<xs:appinfo source="ConversionID">TicketNumber_conversion1</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="ReferenceOrigin">
		<xs:annotation>
			<xs:documentation>00298</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="1"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="ReferenceType">
		<xs:annotation>
			<xs:documentation>00221</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="1"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="SIS">
		<xs:annotation>
			<xs:documentation>00167</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="9999999999"/>
				<xs:totalDigits value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Trusteeship">
		<xs:annotation>
			<xs:documentation>00012</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="1"/>
				<xs:totalDigits value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="TypeForm">
		<xs:annotation>
			<xs:documentation>00297</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
				<xs:enumeration value="RE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="UnrelatedEmployerClass">
		<xs:annotation>
			<xs:documentation>00019</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="000"/>
				<xs:maxInclusive value="999"/>
				<xs:totalDigits value="3"/>
				<xs:pattern value="\d{3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="UnrelatedWorkerCode">
		<xs:annotation>
			<xs:documentation>00020</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="000"/>
				<xs:maxInclusive value="999"/>
				<xs:totalDigits value="3"/>
				<xs:pattern value="\d{3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerBirthdate">
		<xs:annotation>
			<xs:documentation>00028</xs:documentation>
			<xs:appinfo source="ConversionID">Date_conversion2</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="10"/>
				<xs:pattern value="\d{4}-\d{2}-\d{2}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerBirthplace">
		<xs:annotation>
			<xs:documentation>00168</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
				<xs:pattern value="[\s\S]*\S[\s\S]*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerBirthplaceCountry">
		<xs:annotation>
			<xs:documentation>00169</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="99999"/>
				<xs:totalDigits value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerCity">
		<xs:annotation>
			<xs:documentation>00034</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerCountry">
		<xs:annotation>
			<xs:documentation>00035</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="99999"/>
				<xs:totalDigits value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerFirstName">
		<xs:annotation>
			<xs:documentation>00026</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="24"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerHouseNbr">
		<xs:annotation>
			<xs:documentation>00031</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerInitial">
		<xs:annotation>
			<xs:documentation>00027</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
				<xs:pattern value="\p{L}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerName">
		<xs:annotation>
			<xs:documentation>00025</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="48"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerPostBox">
		<xs:annotation>
			<xs:documentation>00032</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerSex">
		<xs:annotation>
			<xs:documentation>00029</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="2"/>
				<xs:totalDigits value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerStreet">
		<xs:annotation>
			<xs:documentation>00030</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerZIPCode">
		<xs:annotation>
			<xs:documentation>00033</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:complexType name="ContributionUnrelatedToNPIdType">
		<xs:sequence>
			<xs:element ref="UnrelatedEmployerClass"/>
			<xs:element ref="UnrelatedWorkerCode"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EmployerDeclarationIdType">
		<xs:sequence>
			<xs:element ref="Quarter"/>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="NOSSRegistrationNbr"/>
					<xs:element ref="Trusteeship"/>
				</xs:sequence>
				<xs:element ref="NOSSLPARegistrationNbr"/>
			</xs:choice>
			<xs:element ref="CompanyID"/>
			<xs:element ref="AnomalySubmission" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FormType">
		<xs:sequence>
			<xs:element ref="Identification"/>
			<xs:element ref="FormCreationDate"/>
			<xs:element ref="FormCreationHour"/>
			<xs:element ref="AttestationStatus"/>
			<xs:element ref="TypeForm"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NaturalPersonType">
		<xs:sequence>
			<xs:element ref="NaturalPersonSequenceNbr"/>
			<xs:element ref="INSS"/>
			<xs:element ref="SIS" minOccurs="0" maxOccurs="0"/>
			<xs:element ref="WorkerName" minOccurs="0" maxOccurs="0"/>
			<xs:element ref="WorkerFirstName" minOccurs="0" maxOccurs="0"/>
			<xs:element ref="WorkerInitial" minOccurs="0" maxOccurs="0"/>
			<xs:element ref="WorkerBirthdate" minOccurs="0" maxOccurs="0"/>
			<xs:element ref="WorkerBirthplace" minOccurs="0" maxOccurs="0"/>
			<xs:element ref="WorkerBirthplaceCountry" minOccurs="0" maxOccurs="0"/>
			<xs:element ref="WorkerSex" minOccurs="0" maxOccurs="0"/>
			<xs:element ref="WorkerStreet" minOccurs="0" maxOccurs="0"/>
			<xs:element ref="WorkerHouseNbr" minOccurs="0" maxOccurs="0"/>
			<xs:element ref="WorkerPostBox" minOccurs="0" maxOccurs="0"/>
			<xs:element ref="WorkerZIPCode" minOccurs="0" maxOccurs="0"/>
			<xs:element ref="WorkerCity" minOccurs="0" maxOccurs="0"/>
			<xs:element ref="WorkerCountry" minOccurs="0" maxOccurs="0"/>
			<xs:element ref="Nationality" minOccurs="0" maxOccurs="0"/>
			<xs:element ref="NaturalPersonUserReference" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ReferenceType">
		<xs:sequence>
			<xs:element ref="ReferenceType"/>
			<xs:element ref="ReferenceOrigin"/>
			<xs:element ref="ReferenceNbr"/>
		</xs:sequence>
	</xs:complexType>	
	
</xs:schema>