schema/Schemas/Dimona/Dimona_20223.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- definition of simple elements -->
	<xs:element name="ActivityWithRisk">
		<xs:annotation>
			<xs:documentation>00041</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="999"/>
				<xs:totalDigits value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Address" type="AddressType">
		<xs:annotation>
			<xs:documentation>90022</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="AttestationStatus">
		<xs:annotation>
			<xs:documentation>00110</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="1"/>
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="City">
		<xs:annotation>
			<xs:documentation>00522</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="CompanyID">
		<xs:annotation>
			<xs:documentation>00014</xs:documentation>
			<xs:appinfo source="ConversionID">CompanyID_conversion1</xs:appinfo>
			<xs:appinfo source="TDOType">xs:companyId</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:maxInclusive value="1999999943"/>
				<xs:totalDigits value="10"/>
				<xs:pattern value="\d{9}|\d{10}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="ConstructionControlCards" type="ConstructionControlCardsType">
		<xs:annotation>
			<xs:documentation>90375</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="Country">
		<xs:annotation>
			<xs:documentation>00523</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="99999"/>
				<xs:totalDigits value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="DailyRegistrationDeclaration" type="DailyRegistrationDeclarationType">
		<xs:annotation>
			<xs:documentation>90480</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="DailyRegistrationId">
		<xs:annotation>
			<xs:documentation>01085</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="Denomination">
		<xs:annotation>
			<xs:documentation>00776</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="96"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Dimona">
		<xs:annotation>
			<xs:documentation>90372</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Form" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="DimonaCancel">
		<xs:annotation>
			<xs:documentation>90379</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="DimonaCancelType">
					<xs:sequence>
						<xs:element ref="EmployerId" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="DimonaFeatures">
		<xs:annotation>
			<xs:documentation>90374</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="DimonaFeaturesType">
					<xs:sequence>
						<xs:element ref="UsingEmployer" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="DimonaIn">
		<xs:annotation>
			<xs:documentation>90373</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="DimonaInType">
					<xs:sequence>
						<xs:element ref="EmployerId" minOccurs="0"/>
						<xs:element ref="NaturalPerson"/>
						<xs:element ref="DimonaFeatures" minOccurs="0"/>
						<xs:element ref="ConstructionControlCards" minOccurs="0"/>
						<xs:element ref="StudentPlaceOfWork" minOccurs="0"/>
						<xs:element ref="SmallStatutesInformation" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	
	<xs:element name="DimonaOut">
		<xs:annotation>
			<xs:documentation>90377</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="DimonaOutType">
					<xs:sequence>
						<xs:element ref="EmployerId" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="DimonaPeriodId">
		<xs:annotation>
			<xs:documentation>00913</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="DimonaUpdate">
		<xs:annotation>
			<xs:documentation>90378</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="DimonaUpdateType">
					<xs:sequence>
						<xs:element ref="EmployerId" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="EmployerId" type="EmployerIdType">
		<xs:annotation>
			<xs:documentation>90256</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="EmploymentNature">
		<xs:annotation>
			<xs:documentation>01231</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="8"/>
				<xs:enumeration value="EMPLOYEE"/>
				<xs:enumeration value="WORKER"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="EndingDate">
		<xs:annotation>
			<xs:documentation>00911</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:pattern value="\d{4}-\d{2}-\d{2}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="EndingHour">
		<xs:annotation>
			<xs:documentation>00778</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="4"/>
				<xs:pattern value="(((0|1)\d)|(2[0-3]))[0-5]\d"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="FirstMonthC32ANbr">
		<xs:annotation>
			<xs:documentation>00663</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Form">
		<xs:annotation>
			<xs:documentation>90059</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormType">
					<xs:sequence>
						<xs:element ref="Reference" minOccurs="0" maxOccurs="4"/>
						<xs:choice>
							<xs:element ref="DimonaIn"/>
							<xs:element ref="DimonaOut"/>
							<xs:element ref="DimonaUpdate"/>
							<xs:element ref="DimonaCancel"/>
							<xs:element ref="DailyRegistrationDeclaration" minOccurs="0"/>
						</xs:choice>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="FormCreationDate">
		<xs:annotation>
			<xs:documentation>00218</xs:documentation>
			<xs:appinfo source="ConversionID">Date_conversion1</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:pattern value="\d{4}-\d{2}-\d{2}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="FormCreationHour">
		<xs:annotation>
			<xs:documentation>00299</xs:documentation>
			<xs:appinfo source="ConversionID">Time_conversion1</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:time">
				<xs:pattern value="\d{2}:\d{2}:\d{2}.\d{3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="HouseNbr">
		<xs:annotation>
			<xs:documentation>00518</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Identification">
		<xs:annotation>
			<xs:documentation>00296</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="7"/>
				<xs:enumeration value="DIMONA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="INSS">
		<xs:annotation>
			<xs:documentation>00024</xs:documentation>
			<xs:appinfo source="ConversionID">Inss_conversion1</xs:appinfo>
			<xs:appinfo source="TDOType">xs:inss</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="11"/>
				<xs:pattern value="[0]|\d{11}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="JointCommissionNbr">
		<xs:annotation>
			<xs:documentation>00046</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="3"/>
				<xs:enumeration value="124"/>
				<xs:enumeration value="140"/>
				<xs:enumeration value="144"/>
				<xs:enumeration value="145"/>
				<xs:enumeration value="149"/>
				<xs:enumeration value="302"/>
				<xs:enumeration value="320"/>
				<xs:enumeration value="322"/>
				<xs:enumeration value="XXX"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Nationality">
		<xs:annotation>
			<xs:documentation>00119</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="99999"/>
				<xs:totalDigits value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="NaturalPerson" type="NaturalPersonType">
		<xs:annotation>
			<xs:documentation>90017</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="NaturalPersonSequenceNbr">
		<xs:annotation>
			<xs:documentation>00023</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="9999999"/>
				<xs:totalDigits value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="NaturalPersonUserReference">
		<xs:annotation>
			<xs:documentation>00615</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="NextMonthC32ANbr">
		<xs:annotation>
			<xs:documentation>00664</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="NOSSLPARegistrationNbr">
		<xs:annotation>
			<xs:documentation>00109</xs:documentation>
			<xs:appinfo source="ConversionID">NossAPL_conversion1</xs:appinfo>
			<xs:appinfo source="TDOType">xs:nossLpaRegistrationNbr</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="99999926"/>
				<xs:totalDigits value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="NOSSRegistrationNbr">
		<xs:annotation>
			<xs:documentation>00011</xs:documentation>
			<xs:appinfo source="ConversionID">Noss_conversion1</xs:appinfo>
			<xs:appinfo source="TDOType">xs:nossRegistrationNbr</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="100006"/>
				<xs:maxInclusive value="199999934"/>
				<xs:totalDigits value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="PlannedDaysNbr">
		<xs:annotation>
			<xs:documentation>01017</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="999"/>
				<xs:totalDigits value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="PlannedHoursNbr">
		<xs:annotation>
			<xs:documentation>01135</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="999"/>
				<xs:totalDigits value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="PostBox">
		<xs:annotation>
			<xs:documentation>00519</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="ProvisionalNSSONbr">
		<xs:annotation>
			<xs:documentation>00948</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="5000000120"/>
				<xs:maxInclusive value="5999999989"/>
				<xs:totalDigits value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Reference" type="ReferenceType">
		<xs:annotation>
			<xs:documentation>90082</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="ReferenceNbr">
		<xs:annotation>
			<xs:documentation>00222</xs:documentation>
			<xs:appinfo source="ConversionID">TicketNumber_conversion1</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="ReferenceOrigin">
		<xs:annotation>
			<xs:documentation>00298</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="1"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="ReferenceType">
		<xs:annotation>
			<xs:documentation>00221</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="1"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="6"/>
				<xs:enumeration value="7"/>
				<xs:enumeration value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="SIS">
		<xs:annotation>
			<xs:documentation>00167</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="9999999999"/>
				<xs:totalDigits value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="SmallStatutesInformation" type="SmallStatutesInformationType">
		<xs:annotation>
			<xs:documentation>90594</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="StartingDate">
		<xs:annotation>
			<xs:documentation>00910</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:pattern value="\d{4}-\d{2}-\d{2}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="StartingHour">
		<xs:annotation>
			<xs:documentation>00777</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="4"/>
				<xs:pattern value="(((0|1)\d)|(2[0-3]))[0-5]\d"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Street">
		<xs:annotation>
			<xs:documentation>00517</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="42"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="StudentPlaceOfWork">
		<xs:annotation>
			<xs:documentation>90376</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="StudentPlaceOfWorkType">
					<xs:sequence>
						<xs:element ref="Address" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="SubEntityNbr">
		<xs:annotation>
			<xs:documentation>00652</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="TypeForm">
		<xs:annotation>
			<xs:documentation>00297</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
				<xs:enumeration value="SU"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="UsingEmployer">
		<xs:annotation>
			<xs:documentation>90107</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="UsingEmployerType">
					<xs:sequence>
						<xs:element ref="Address" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="UsingEmployerCompanyID">
		<xs:annotation>
			<xs:documentation>00131</xs:documentation>
			<xs:appinfo source="ConversionID">CompanyID_conversion1</xs:appinfo>
			<xs:appinfo source="TDOType">xs:companyId</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="1999999943"/>
				<xs:totalDigits value="10"/>
				<xs:pattern value="0|\d{9}|\d{10}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="UsingEmployerName">
		<xs:annotation>
			<xs:documentation>00153</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="96"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="WorkerBirthdate">
		<xs:annotation>
			<xs:documentation>00028</xs:documentation>
			<xs:appinfo source="ConversionID">Date_conversion2</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="10"/>
				<xs:pattern value="\d{4}-\d{2}-\d{2}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerBirthplace">
		<xs:annotation>
			<xs:documentation>00168</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
				<xs:pattern value="[\s\S]*\S[\s\S]*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerBirthplaceCountry">
		<xs:annotation>
			<xs:documentation>00169</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="99999"/>
				<xs:totalDigits value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerCity">
		<xs:annotation>
			<xs:documentation>00034</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="WorkerCountry">
		<xs:annotation>
			<xs:documentation>00035</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="99999"/>
				<xs:totalDigits value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerFirstName">
		<xs:annotation>
			<xs:documentation>00026</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="24"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="WorkerHouseNbr">
		<xs:annotation>
			<xs:documentation>00031</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerInitial">
		<xs:annotation>
			<xs:documentation>00027</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
				<xs:pattern value="\p{L}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerName">
		<xs:annotation>
			<xs:documentation>00025</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="48"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerPostBox">
		<xs:annotation>
			<xs:documentation>00032</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerSex">
		<xs:annotation>
			<xs:documentation>00029</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="2"/>
				<xs:totalDigits value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerStatus">
		<xs:annotation>
			<xs:documentation>00053</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
				<xs:enumeration value="F1"/>
				<xs:enumeration value="F2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerStreet">
		<xs:annotation>
			<xs:documentation>00030</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerType">
		<xs:annotation>
			<xs:documentation>00655</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="replace"/>
				<xs:maxLength value="3"/>
				<xs:enumeration value="A17"/>
				<xs:enumeration value="BCW"/>
				<xs:enumeration value="DWD"/>
				<xs:enumeration value="EXT"/>
				<xs:enumeration value="FLX"/>
				<xs:enumeration value="IVT"/>
				<xs:enumeration value="O17"/>
				<xs:enumeration value="PMP"/>
				<xs:enumeration value="QUA"/>
				<xs:enumeration value="RTA"/>
				<xs:enumeration value="S17"/>
				<xs:enumeration value="STU"/>
				<xs:enumeration value="T17"/>
				<xs:enumeration value="TEA"/>
				<xs:enumeration value="TRI"/>
				<xs:enumeration value="STG"/>
				<xs:enumeration value="OTH"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="WorkerZIPCode">
		<xs:annotation>
			<xs:documentation>00033</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="ZIPCode">
		<xs:annotation>
			<xs:documentation>00520</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element ref="Street"/>
			<xs:element ref="HouseNbr"/>
			<xs:element ref="PostBox" minOccurs="0"/>
			<xs:element ref="ZIPCode"/>
			<xs:element ref="City"/>
			<xs:element ref="Country"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ConstructionControlCardsType">
		<xs:sequence>
			<xs:element ref="FirstMonthC32ANbr"/>
			<xs:element ref="NextMonthC32ANbr"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DailyRegistrationDeclarationType">
		<xs:sequence>
			<xs:element ref="AttestationStatus"/>
			<xs:element ref="DailyRegistrationId" minOccurs="0"/>
			<xs:element ref="DimonaPeriodId" minOccurs="0"/>
			<xs:element ref="StartingDate" minOccurs="0"/>
			<xs:element ref="StartingHour" minOccurs="0"/>
			<xs:element ref="EndingDate" minOccurs="0"/>
			<xs:element ref="EndingHour" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DimonaCancelType">
		<xs:sequence>
			<xs:element ref="DimonaPeriodId"/>
			<xs:element ref="INSS" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DimonaFeaturesType">
		<xs:sequence>
			<xs:element ref="JointCommissionNbr" minOccurs="0"/>
			<xs:element ref="WorkerType"/>
			<xs:element ref="SubEntityNbr" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DimonaInType">
		<xs:sequence>
			<xs:element ref="StartingDate"/>
			<xs:element ref="StartingHour" minOccurs="0"/>
			<xs:element ref="EndingDate" minOccurs="0"/>
			<xs:element ref="EndingHour" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element ref="PlannedHoursNbr"/>
				<xs:element ref="PlannedDaysNbr"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DimonaOutType">
		<xs:sequence>
			<xs:element ref="DimonaPeriodId"/>
			<xs:element ref="EndingDate"/>
			<xs:element ref="INSS" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DimonaUpdateType">
		<xs:sequence>
			<xs:element ref="DimonaPeriodId"/>
			<xs:element ref="StartingDate" minOccurs="0"/>
			<xs:element ref="StartingHour" minOccurs="0"/>
			<xs:element ref="EndingDate" minOccurs="0"/>
			<xs:element ref="EndingHour" minOccurs="0"/>
			<xs:element ref="INSS" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element ref="PlannedHoursNbr"/>
				<xs:element ref="PlannedDaysNbr"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EmployerIdType">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="NOSSRegistrationNbr" minOccurs="0"/>
				<xs:element ref="ProvisionalNSSONbr" minOccurs="0"/>
				<xs:element ref="NOSSLPARegistrationNbr" minOccurs="0" maxOccurs="0"/>
			</xs:choice>
			<xs:element ref="CompanyID" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FormType">
		<xs:sequence>
			<xs:element ref="Identification"/>
			<xs:element ref="FormCreationDate"/>
			<xs:element ref="FormCreationHour"/>
			<xs:element ref="AttestationStatus"/>
			<xs:element ref="TypeForm"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NaturalPersonType">
		<xs:sequence>
			<xs:element ref="NaturalPersonSequenceNbr" minOccurs="0" maxOccurs="0"/>
			<xs:element ref="INSS" minOccurs="0"/>
			<xs:element ref="SIS" minOccurs="0" maxOccurs="0"/>
			<xs:element ref="WorkerName" minOccurs="0"/>
			<xs:element ref="WorkerFirstName" minOccurs="0"/>
			<xs:element ref="WorkerInitial" minOccurs="0"/>
			<xs:element ref="WorkerBirthdate" minOccurs="0"/>
			<xs:element ref="WorkerBirthplace" minOccurs="0"/>
			<xs:element ref="WorkerBirthplaceCountry" minOccurs="0"/>
			<xs:element ref="WorkerSex" minOccurs="0"/>
			<xs:element ref="WorkerStreet" minOccurs="0"/>
			<xs:element ref="WorkerHouseNbr" minOccurs="0"/>
			<xs:element ref="WorkerPostBox" minOccurs="0"/>
			<xs:element ref="WorkerZIPCode" minOccurs="0"/>
			<xs:element ref="WorkerCity" minOccurs="0"/>
			<xs:element ref="WorkerCountry" minOccurs="0"/>
			<xs:element ref="Nationality" minOccurs="0"/>
			<xs:element ref="NaturalPersonUserReference" minOccurs="0" maxOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ReferenceType">
		<xs:sequence>
			<xs:element ref="ReferenceType"/>
			<xs:element ref="ReferenceOrigin"/>
			<xs:element ref="ReferenceNbr"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SmallStatutesInformationType">
		<xs:sequence>
			<xs:element ref="EmploymentNature"/>
			<xs:element ref="ActivityWithRisk" minOccurs="0"/>
			<xs:element ref="WorkerStatus"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="StudentPlaceOfWorkType">
		<xs:sequence>
			<xs:element ref="Denomination" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="UsingEmployerType">
		<xs:sequence>
			<xs:element ref="JointCommissionNbr" minOccurs="0"/>
			<xs:element ref="UsingEmployerName" minOccurs="0"/>
			<xs:element ref="UsingEmployerCompanyID" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>
